.header {
  padding-top: 125px;
  padding-bottom: 125px;

  background:linear-gradient(to bottom, rgb(0, 0, 52), rgba(0, 0, 32, 1) 100%);

  @include respond-to(md) {
    padding-top: 250px
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__logo {
    width: 200px;
    height: auto;
    margin-bottom: 35px;
  }

  &__heading {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: $fz-lg;
    line-height: 1.12;
    color: white;
  }

  &__paragraph {
    color: rgba(255, 255, 255, 0.7);
    font-family: $ff-roboto;
    font-size: $fz-sm;
    line-height: 1.12;
    margin: 0;
  }
}
