<div class="container-fluid footer">
  <div class="row">
    <div class="col-12">
      <div class="container footer__content">
        <div class="row">
          <div class="col-12">
            <p class="footer__paragraph footer__paragraph--emphasis">Good work!</p>
            <p class="footer__paragraph">Your witness is successfully created. To swing into further actions as a witness, you can use your ID and a private key.</p>
            <p class="footer__paragraph">Let’s keep in touch!</p>
            <p class="footer__paragraph">Cheers!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
