<div class="container-fluid header">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <header class="col-12 header__content">

            <img class="header__logo" src="assets/imgs/array_logo_dark_bg.png" width="500" height="522" alt="Array.io Logotype">
            <h1 class="header__heading">How to Become a Witness</h1>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
