<div class="container-fluid instructions">
  <div class="row instruction">
    <div class="container">
      <div class="row">
        <div class="col-12 instruction__content">

        <p class="instruction__paragraph">
          If you’re using MacOS, run the following command to ensure that you have everything a Linux user has.
        </p>

        <pre class="instruction__code"><code class="instruction__code-content"><span class="instruction__code-line">$ cmake -DLINUX_SIGACTION_SIGSEGV=DISABLE ..</span></code></pre>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid instructions">
  <div class="row instruction">
    <div class="container">
      <div class="row">
        <div class="col-12 instruction__content">

        <p class="instruction__paragraph">
          You should be able to spawn four threads. Alternatively, if you process with eight cores, you can make eight threads. Choose it according to your core/CPU environment, so that it works efficiently.
        </p>

        <pre class="instruction__code"><code class="instruction__code-content"><span class="instruction__code-line">$ make -j4</span></code></pre>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid instructions">
  <div class="row instruction">
    <div class="container">
      <div class="row">
        <div class="col-12 instruction__content">

        <p class="instruction__paragraph">
          Connect to ‘newton.array.io’ and create a wallet with a chain ID. After the build you will get access the ‘programs’ directory which contains CliWallet and WitnessNode.
        </p>

        <p class="instruction__paragraph">
          <span class="instruction__note">CliWallet is a client that connects you to the wallet. </span><span class="instruction__note">WitnessNode is your own personal node.</span>
        </p>

        <pre class="instruction__code"><code class="instruction__code-content"><span class="instruction__code-line">$ ./programs/cli_wallet/cli_wallet -s ws://newton.array.io:8090 --chain-id b6b83a593686087531ce581540564d20b2f75ff9879e9dd2eccfa9a79744b949</span></code></pre>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid instructions">
  <div class="row instruction">
    <div class="container">
      <div class="row">
        <div class="col-12 instruction__content">

          <p class="instruction__paragraph instruction__paragraph--margin--large">
            You’re almost there! Create a password for your brand-new wallet and unlock it. You will know that you’ve done this when the line says ‘unlocked’ instead of ‘locked’.
          </p>

          <div class="row align-items-center">
            <div class="col-12 col-md-6">
              <img class="instruction__screenshot" src="assets/imgs/step-4-console-screenshot.jpg" alt="Console Output Example">
            </div>

            <p class="col-12 col-md-6 instruction__screenshot-caption">
              <span class="instruction__screenshot-caption-line">locked >>> set_password secret-password-here </span><span class="instruction__screenshot-caption-line">locked >>> unlock secret-password-here </span><span class="instruction__screenshot-caption-line">unlocked >>></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid instructions">
  <div class="row instruction">
    <div class="container">
      <div class="row">
        <div class="col-12 instruction__content">

        <p class="instruction__paragraph">
          To check the balance in all your accounts, you can do the following: 
        </p>

        <pre class="instruction__code"><code class="instruction__code-content"><span class="instruction__code-line">unlocked >>> list_account_balances my-very-new-account, 1</span></code></pre>

        </div>
      </div>
    </div>
  </div>
</div>
